@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-animation {
    background: linear-gradient(-45deg, #c56a4e, #b94270, #409bbd, #439e89);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    height: 100vh;
  }

  .shadow-outer {
    box-shadow: 0px 0px 64px 8px rgba(255, 255, 255, 0.25);
  }

  .scrollbar::-webkit-scrollbar {
    width: 2.2vh;
    background-color: #e2d3ff;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border: 0.3vh solid #513e78;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-button {
    height: 2.2vh;
    border: 0.3vh solid #513e78;
  }

  .scrollbar::-webkit-scrollbar-button:start {
    background: no-repeat center/65% #ffffff
      url('/assets/icon/button_scroll_top.svg');
  }

  .scrollbar::-webkit-scrollbar-button:end {
    background: no-repeat center/65% #ffffff
      url('/assets/icon/button_scroll_bottom.svg');
  }

  .scrollbar::-webkit-resizer {
    border: 0.3vh solid #513e78;
    background: no-repeat center/65% #ffffff
      url('/assets/icon/button_resize.svg');
  }

  .emphasis {
    background: linear-gradient(90deg, #6160bb, #9460cc);
    color: white;
  }

  .list-style-dot::before {
    display: inline-block;
    content: '';
    width: 0.25rem;
    min-width: 0.25rem;
    height: 0.25rem;
    min-height: 0.25rem;
    margin: 0 1vh;
    border-radius: 50%;
    background: linear-gradient(90deg, #7271d6, #ae75eb);
  }

  .swiper-slide {
    width: 95%;
  }

  .text-gradient {
    background: linear-gradient(
      to right,
      #d2bdff 25%,
      #b5e9ff 50%,
      #fff7ad 75%,
      #ffc6ce 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2.5s ease-in-out infinite alternate;
    filter: drop-shadow(0 0 4px #2e123aad);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}

/* * {
  -webkit-user-drag: none;
} */

body {
  font-size: 1.7vh;
  line-height: 1;
}

img {
  -webkit-user-drag: none;
}
